name: CI HTML PHP

on:
  push:
    branches:
      - main

jobs:
  build-test:
    runs-on: ubuntu-latest

    steps:
      - name: Checkout source code
        uses: actions/checkout@v4

      - name: Check PHP version
        run: php -v

      - name: List project files
        run: ls -la
